DO \$\$ 
BEGIN 
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='order_items' AND column_name='void_reason') THEN
        ALTER TABLE order_items ADD COLUMN void_reason TEXT;
    END IF;
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns WHERE table_name='order_items' AND column_name='voided_at') THEN
        ALTER TABLE order_items ADD COLUMN voided_at TIMESTAMP WITH TIME ZONE;
    END IF;
END \$\$;
